<!-- Footer -->
<footer class="bg-gray-900 border-t border-gray-800 text-slate-200 p-3">
  <div class="flex flex-col gap-2">
 

    <p class="text-[11px] text-slate-400">
      Roberto Rodríguez Bz. All Rights Reserved. <br>© 2026
    </p>

    <div class="flex gap-2">
      <a
        href="mailto:obertorodriguezbqz@gmail.com"
        class="rounded p-1 hover:bg-gray-800 text-slate-300"
        title="Correo Electrónico"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fas fa-envelope"></i>
      </a>
      <a
        href="https://github.com/RobertoRodriguezBorquez"
        class="rounded p-1 hover:bg-gray-800 text-slate-300"
        title="GitHub"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://robertorodriguezportaweb.netlify.app/"
        class="rounded p-1 hover:bg-gray-800 text-slate-300"
        title="Portafolio"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fas fa-laptop-code"></i>
      </a>
    </div>
  </div>
</footer>
